

<%- include('../partials/header',{
    title:'Clean Blog',
    discription:'A Blog Theme by Start Bootstrap',
    img:'home-bg.jpg',
    style:'site-heading',
    disStyle:'subheading',
}) %>


<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            
            <% for(let i=0;i<5; i++){%>
                <%- include('../partials/onepost') %> 
            <% } %>

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>


<%-contentFor('title') %>
Home